@import './tokens.css';
@import './buttons.css';
@import './inputs.css';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--figma-color-bg-primary, #ffffff);
  color: var(--figma-color-text, #333333);
  font-family: var(--font-stack);
  font-size: var(--font-size-default);
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

/* Вспомогательный служебный класс для блеклого текста */
.text-muted {
  font-size: var(--font-size-small);
  color: var(--figma-color-text-tertiary, #b3b3b3);
  line-height: 14px;
}
